<!-- include bootstrap -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Happy Things</title>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/jquery.js" charset="utf-8"></script>
  </head>
  <body>
    <img src="http://www.981powerfm.com.au/images/stories/2014/09/happy_animal_3.jpg" alt="" />

    <%= yield %>

  </body>
</html>
